/*
UOL - Programming the Internet - Group Project
Week 3 - Assignment
Fabien Huraux
Joao Paulo Henriques Remedio  
Kevin Gargo 
*/
/* 
    Created on : 23 janv. 2015, 18:19:15
    Author     : fabienhuraux
*/

@font-face {
    font-family: Hatori Hanzo Light;
    src: url(../fonts/Hattori_Hanzo-webfont.eot) format("embedded-opentype");
    src: url(../fonts/Hattori_Hanzo-webfont.woff) format("woff");
    src: url(../fonts/Hattori_Hanzo-webfont.svg) format("svg")
}

body{
    background-color: #8B9DC3;
    color: #f7f7f7;
    font-family: Hatori Hanzo, Hatori Hanzo Light;
}

.main {
       width: 100%;
}

p {
   color: #f7f7f7; 
}

.tlt {
    text-align: center;
    color: #f7f7f7;
}

h2 {float: bottom;
}
/* 
Menu Design
*/
.fixed {
    position: fixed;
    margin-left: 80%;
}

.menu {
    font-family: Hatori Henzo;
    text-decoration: none;
    font-size: x-large;
    color: #3b5998;
    float: left;
    width: auto;
    clear: both;

}

.onclick-menu ul > li{
    list-style: none;
    padding-left: 5px;
    width: 15em;
    
}

.onclick-menu li a:hover {
    list-style: none;
    padding-left: 8px;
    color: #f7f7f7;
    text-shadow: 0 0 1px #f7f7f7;
    font-size: xx-large;
}

.menuimg {
    width: 45px;
    float: left;
    padding-left: 13em;
}

.onclick-menu {
    position: relative;
    display: inline;
    color: #f7f7f7;

}
.onclick-menu:before {
    color: #dfe3ee;
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}

/*
	 * Menu at the bottom of the page
*/
.submenu {
    clear: both;
    margin-left: 32%;
	}
        
        ul.submenu li a {
        color: #f7f7f7;
        font-family: Hatori Hanzo, Hatori Hanzo Light;
        text-decoration: none;        
        }

.submenu li{
	display: inline-block;
        
	}
/* 
Slideshow homepage
*/

#slideshow {
    margin: 5em auto;
    position: relative;
    width: 30em;
    height: 30em;
    padding: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
}

#slideshow > div {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
}

.resize {
    width: 28em;
    padding: 1em;
}
/* 
Table style - BY Joao
*/

.innertitle {
    font-size: 24px;
    font-weight: bold;
    color: #f7f7f7
}

#tableteamleftcol {
    background-color: #dfe3ee;
    width: 300px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#tableteam td {
    padding: 0px 15px 0px 15px;
}

thead {
    font-weight: bolder;
    background-color: #dfe3ee;
}

ul {
    list-style-type: square;
}

#tableref {
    border-spacing: 0px 0px;
}

#tableref td {
    padding: 15px;
    border: 1px solid black;
}

#tableref tbody tr:nth-child(even) {
    background-color: lightgray;
}

.table2 {
    border: 1px solid black;
    border-collapse: collapse;
}

.th2 {
    color: #f7f7f7;
    background-color: #dfe3ee;
    padding: 1em;
    border: 1px solid black
}

.left {
    text-align: left;
    border: 1px solid black;
    padding-left: 1em
}

.tr2 .td2 {
    background-color: white;
    text-align: center;
    border: 1px solid black;
    width: 8em;
    padding: 1em
}

.fontcolor {
    color: #f7f7f7
}
/* 
Contact page form By Fabien
*/

.formbox {
    margin: 0 0 0 3em;
    box-shadow: 1em 1em 0.5em #888888
}

.formtxt {
    margin: 0 0 0 3em;
    box-shadow: 1em 1em 0.5em #888888;
    width: auto;
    height: auto
}

.leftdiv {
    font-size: large;
    float: left;
    width: auto;
    margin-top: 1.5em;
    clear: both;
}

.rightdiv {
    float: right;
    width: 33%;
    margin: 5em 25em 0 0;
    
}

.rightdivform {
    float: right;
    width: 250px;
    margin-right: 10em
}

input[type="number"] {
    text-align: right;
}

/* 
Iframe by Joao
*/

iframe {
    width: 700px;
    
}

#logosquare {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
}

#logonavbar #logopage ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#logonavbar #logopage ul li a {
    float: left;
    padding: 20px;
    text-decoration: none;
    height: 20px;
    line-height: 20px;
    width: 75px;
    text-align: center;
    display: block;
    border: 1px solid darkblue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 12pt;
}

#logonavbar #logopage ul li a:hover {
    float: left;
    padding: 20px;
    border: 1px solid darkblue;
    margin-right: 0px;
    background-color: highlight;
    text-shadow: 1px 1px 1px #888888;
    color: darkblue;
    font-size: 14pt;
}

#logonavbar {
    /* position: relative;
    top: 500px; */
    float: left;
    width: 702px;
    padding: 0 2em;
    /* height: 375px;*/
    border: 1px solid darkblue;
    border-radius: 8px;
    margin-bottom: 1em;
}

#ul.logopage {
    float:left;
    height: 64px;
    padding-left: 5px;
}

.logobaractive{
    font-weight: bolder;
    background-color: slateblue;
    color: white;
}

.logobarinactive{
    font-weight: normal;

}